/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

@font-face {
    font-family: 'gravity-book'; /*a name to be used later*/
    src: url('../fonts/Gravity-Book.otf'); /*URL to font*/
}
@font-face {
    font-family: 'gravity-light'; /*a name to be used later*/
    src: url('../fonts/Gravity-Light.otf'); /*URL to font*/
}

/* Global */
* {
    box-sizing: border-box;
}
div{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}

html{
    scroll-behavior: smooth;
}

section {
    width: 100%;
    display: inline-block;
    text-align: center;
    max-width: none;
    color: rgb(255,255,255);
    font-family: "gravity-book";
    background-color: rgb(55, 59, 68);
    height: 100vh;
}

section h1{
    color: white;
    font-size: 80px;
}
section:nth-of-type(2n) {
    color: rgb(0,0,0);
    background-color: rgb(255, 255, 255);
    font-size: 1em;
}

body{
    margin: 0px;
}

section:nth-of-type(2n) h1 {
    font-size: 3em;
    display: block;
    color: black;
    font-weight: 300;
    text-align: center;
    font-family: "gravity-book";
}

p {
    font-size: 17px;
    font-weight: 500;
    color: rgb(133, 138, 148);
    text-align: center;
    font-family: "gravity-light";
    vertical-align: middle;
}
.scroll a {
    padding-top: 50px;
    font-size: 20px;
  }
span {
    position: absolute;
    bottom: 5vh;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}
@keyframes sdb {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

/* Animation */
.line-1{
    color: rgb(255, 173, 33);
    position: relative;
    top: 50%;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 5.1vw;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.anim-typewriter{
  animation: typewriter 4s steps(47) 1s 1 normal both,
             blinkTextCursor 500ms steps(47) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 86vw;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* links */
.anchor{
    position: absolute;
    color: white;
    text-decoration: none;
    bottom: 5vh;
}

/* divs */

.end{
    position: absolute;
    font-size: 2em;
    text-align: center;
    top: 40vh;
    width: 100%;
}

.splash{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 35vh;
}
.splash h1{
    margin: 0 0 10vh 0;
}

#footer{
    padding-bottom: 2vh;
}

.content{
    display: inline-block;
    vertical-align: middle;    
    width: 100%;
    padding-top: 10vh;
}
.scroll{
    display: inline-block;
    position: absolute;
    bottom: 8vh;
    margin-left: -26.07px;
}

#other{
    position: relative;
    bottom: 4vh;
}


/* tables */
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding: 10px;
    margin: 0 1.666666% 7%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    height: 300px;
}

/* Clear floats after the columns */
.row:after {
    text-align: center;
    content: "";
    display: table;
    clear: both;
    padding-bottom: 5vh;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
        width: 95vw;
        margin: 0 2.5vw 10vh 2.5vw;
    }
}

.column a{
    text-decoration: none;
    color: black;
}

.other a{
    text-decoration: none;
    color: black;
}

/* navbar */
.topnav {
    z-index: 9;
    overflow: hidden;
    background: rgba(61, 61, 61,0.5);
    width: 100%;
    position: fixed;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#right{
    float: right;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    padding: 16px 16px;
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: fixed;
    }
    #right{
        float: none;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}