/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

@font-face {
    font-family: 'gravity-book'; /*a name to be used later*/
    src: url('../fonts/Gravity-Book.otf'); /*URL to font*/
}
@font-face {
    font-family: 'gravity-light'; /*a name to be used later*/
    src: url('../fonts/Gravity-Light.otf'); /*URL to font*/
}

/* Global */
* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

section {
    width: 100%;
    text-align: center;
    max-width: none;
    color: rgb(255,255,255);
    font-family: "gravity-book";
    background-color: rgb(55, 59, 68);
    height: 100vh;
    padding: 0px 7%;
    margin: 0px;
}

section h1{
    color: white;
    font-size: 3em;
}
section:nth-of-type(2n) {
    color: rgb(0,0,0);
    background-color: rgb(255, 255, 255);
    font-size: 1em;
}

body{
    margin: 0px;
}

section:nth-of-type(2n) h1 {
    font-size: 3em;
    display: block;
    color: black;
    font-weight: 300;
    text-align: center;
    font-family: "gravity-book";
}

p {
    font-size: 1.5em;
    font-weight: 500;
    color: #C3CAD9;
    text-align: center;
    font-family: "gravity-light";
    vertical-align: middle;
}
.scroll a {
    padding-top: 50px;
    text-decoration: none;
    color: white;
  }
span {
    position: absolute;
    bottom: 5vh;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}
@keyframes sdb {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

/* Animation */
.line-1{
    color: rgb(255, 173, 33);
    position: relative;
    top: 50%;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.anim-typewriter{
  animation: typewriter 4s steps(47) 1s 1 normal both,
             blinkTextCursor 500ms steps(47) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 493px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* links */
.anchor{
    position: absolute;
    color: white;
    text-decoration: none;
    bottom: 5vh;
}

/* divs */
.splash{
    display: inline-block;
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.content{
    display: inline-block;
    vertical-align: middle;    
    width: 100%;
}
.scroll{
    display: inline-block;
    position: absolute;
    left: 47.45%;
    bottom: 8vh;
}


/* tables */
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }